.cardTitle:hover {
    text-decoration: underline;
    text-decoration-color: black;
}
.cardLink:hover {
    text-decoration: underline;
}
.imgWrapper {
    transition: transform 180ms !important;
    display: block !important;
    position: absolute;
    bottom: -40px;
    left: 10%;
    width: 80%;

}

.ant-card:hover .imgWrapper {
   transform: translateY(-15px) !important;
}