#hero {
    // padding-left: 26px;
    // padding-right: 26px;
    padding-top: 130px;
    padding-bottom: 130px;
    // max-width: 1550px;
    // margin-left: auto;
    // margin-right: auto;
}
.heroHeading {
    font-size: 40px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 0;
}
.heroPara {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 48px;
}

@media screen and (max-width: 1200px) {
    .heroHeading {
        font-size: 20px;
        text-align: center;
    }
    .heroPara {
        text-align: center;
    }
    #hero {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    #hero .ant-row {
        justify-content: center;
    }
    .heroImg {
        margin-top: 64px;
    }
}