
/* .ant-menu-submenu-popup > .ant-menu{
    padding: 1.5rem;
} */

#topbar .ant-menu-submenu-active .ant-menu-submenu-title, #topbar .ant-menu-submenu-open .ant-menu-submenu-title {
    color: white;
}

.topbarPopup .option-link {
    color: rgb(92, 91, 91);
}
        
.topbarPopup .option-link:hover {
   color: black;
}

#topbar .navLink {
    color: #afafaf;
}
#topbar .navLink:hover {
    color: white;
}

#topbar .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover {
    color: white;
}