#subCardsContainer2 .col2 {
    padding: 24px;
    position: relative;

    max-width: 670px;
    width: 50%;
    padding-top: 24px;
}

.imgGrid {
    background-color: white;
}
.contentTitle {
    // font-size: 40px;
    // text-align: right;
    // margin-bottom: 2rem;
    margin-left: 20%;
    margin-right: 0;
    min-height: 60px;
    font-size: 32px;
    color: hsl(0, 0%, 20%);
    line-height: 1.25;
    font-weight: 400;
    margin-bottom: 16px;
}
.cardsContainer {
    display: flex;
    justify-content: center;
    // align-items: center;
    // flex-direction: row;
    // // flex-wrap: wrap;
    // margin-left: -4rem;
    position: absolute;
    right: 24px;
    // flex-wrap: nowrap;
    min-width: 110%;
    margin-top: 16px;
}
.cardBody {
    // width: 410px;
    // margin: 0 1rem;
    // margin-left: 0;
    background-color: white;
    // padding: 1.5rem;
    // border-radius: 8px;
    // // box-shadow: ;
    // display: flex;
    // flex-direction: column;
    // margin-bottom: 0;
    margin: 0 0 0 32px;
    flex-basis: 150px;
    flex-direction: column;
    padding: 24px;
    width: 174px;
    max-width: 320px;
    flex: 1 0 auto;
    box-shadow: 0 11px 21px #d4d8e4;
    border-radius: 8px;
    display: flex;
}
.cardBody img {
    margin-bottom: 16px;
}
.cardTxt {
    // align-self: flex-start;
    // margin-left: 0;
    // margin-top: 1rem;
    margin: 0;
}

@media screen and (max-width: 1200px) {
    .content {
        margin-right: 0;
    }
    .contentTitle {
        text-align: center;
        margin-left: 0;
    }
    .cardsContainer {
        position: relative;
        flex-wrap: wrap;
        margin-top: 16px;
    }
    .cardBody {
        flex-direction: row;
        margin: 16px;
        flex: 1 0 260px;
    }
    // .cardBody img {
    //     margin-bottom: 16px;
    // }
    .cardTxt {
        margin-left: 24px;
        margin-top: 0;
    }

}

// @media screen and (min-width: 1042px){
//     #subCardsContainer2 .cardsContainer {
//         flex-wrap: nowrap;
//     }
// }

