#subCardsContainer2 .col2 {
    padding: 24px;
    position: relative;

    max-width: 670px;
    width: 50%;
    padding-top: 24px;
}

.imgGrid {
    background-color: white;
}
.contentTitle {
    margin-left: 29%;
    margin-right: 0;
    min-height: 60px;
    font-size: 32px;
    color: hsl(0, 0%, 20%);
    line-height: 1.25;
    margin-bottom: 16px;
}
.cardsContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 16px;
    min-width: 110%;
    margin-top: 16px;
}
.cardBody {
    background-color: white;
    margin: 0 0 0 32px;
    flex-basis: 150px;
    flex-direction: column;
    padding: 24px;
    width: 174px;
    max-width: 320px;
    flex: 1 0 auto;
    box-shadow: 0 11px 21px #d4d8e4;
    border-radius: 8px;
    display: flex;
}
.cardBody img {
    margin-bottom: 16px;
}
.cardTxt {
    margin: 0;
    font-size: 16px;
}

@media screen and (max-width: 1200px) {
    .col1 {
        display: none;
    }
    .content {
        margin-right: 0;
    }
    .contentTitle {
        text-align: center;
        margin-left: 0;
    }
    .cardsContainer {
        position: relative;
        flex-wrap: wrap;
        margin-top: 16px;
    }
    .cardBody {
        flex-direction: row;
        margin: 16px;
        flex: 1 0 260px;
    }
    .cardTxt {
        margin-left: 24px;
        margin-top: 0;
    }

}

