.footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
    border-bottom: 2px solid black ;
}

.socialLinks {
    background-color: rgb(43, 43, 43);
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}
.footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 26px;
    max-width: 1550px;
    margin-left: auto;
    margin-right: auto;
}
.copyRightTxt {
    color: rgb(211, 211, 211);
    font-size: 14px;
    margin-top: 0;
}

@media screen and (max-width: 1200px) {
    .footerContainer {
        flex-direction: column;
    }
    .copyRightTxt {
        margin-bottom: 2em;
        text-align: center;
    }
}