 #navbar .selectedMenuItem {    
    color: white !important;
} 

#navbar .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected {
    border-bottom: 2px solid white;
    // color: white;

}

#navbar .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover {
    border-bottom: 2px solid white;
    // color: white;
}
#navbar .navLink:hover {
    color: white !important;
}