.mainWrapper {
    color: rgb(84, 84, 84);
    margin: 0 auto;
    padding-left: 26px;
    padding-right: 26px;
    max-width: 1550px;
    margin-left: auto;
    margin-right: auto;
}


// // px-5 md:px-20 xl:px-30 bg-gray-200 py-10 lg:py-32